*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }


body{
    font-family: 'Times New Roman', Times, serif;
}

.head-div{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.head-div h1{
    text-align: center;
}


    


.efficient{
    letter-spacing: -0.7px;
    font-weight: 200;
    color: lightgray;
    margin-bottom: 5px;
}

.technology{
    margin-bottom: 20px;
}

.head-div p{
    text-align: center;
    color: gray;
    letter-spacing: 0.02cm;
}


.flex-div {
    display: flex;
}

.item{
    flex:1;
    
    
    
    
}

.item > div {
    margin-bottom: 30px;  
    
       
}

.flex-div {
    margin-top: 70px;
    
}

.item-1{
    max-width: 380px;
    height: 300px;
    margin-left: auto;
    margin-top: 180px;
    border-radius: 10px;
    padding-top: 40px ;
    padding-left: 40px;
    border-top: 5px solid greenyellow;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 8px 20px gray
    
}

.item-1 svg{
    
    margin-top: 75px;
    margin-left: 250px;
}

.item-1 p{
    margin-top: 20px;
    margin-right: 100px;
    line-height: 1.4;
    color: gray;
}

.item-3{
    max-width: 380px;
    height: 300px;
    margin-right: auto;
    margin-top: 180px;
    border-radius: 10px;
    padding-top: 40px ;
    padding-left: 40px;
    border-top: 5px solid blue;
    border-left: 1px solid lightgrey;
    border-right: 0.5px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 8px 20px gray
}

.item-3 svg{
    margin-top: 75px;
    margin-left: 250px;
}

.item-3 p{
    margin-top: 20px;
    margin-right: 70px;
    line-height: 1.4;
    color: gray;
}

.two-a{
    
    max-width: 380px;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    padding-top: 40px;
    padding-left: 40px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    box-shadow: 0 8px 20px gray
}

.two-a svg{
    margin-top: 80px;
    margin-left: 250px;
}

.two-a p{
    margin-top: 20px;
    margin-right: 90px;
    line-height: 1.4;
    color: gray;
}

.item.grow{
    flex-grow: 1.6;
}

.two-a.yellow{
    border-top: 5px solid yellow;
}
.two-a.red{
    border-top: 5px solid red;
}

h3{
    font-weight: 900;
}


/* KOMENTARI: */
/* Koriscen je chatgpt kako bi se napravio layout za ova 4 box-a (koriscen je flex) */
/* U narednom vezbanju planiram da odradim i grid layout uz pomoc chat gpt-a */
/* Setih se flex-grow-a kako bih priblizio spoljne boxove unutrasnjim */
/* U narednim projektima krecem sa ubacivanjem i media queria!!! */